@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar {
  width: 100%;
  border-collapse: collapse;
}

.calendar th,
.calendar td {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
}

.calendar th {
  border-radius: 5px;
}

.calendar td {
  vertical-align: top;
}

.bg-darkActive div {
  color: #ffffff;
}

.bg-darkActive .bg-tagGreen {
  background-color: #ffffff;
  color: #1f2937;
}
