@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.calendar {
  @apply w-full border-collapse;
}

.calendar th,
.calendar td {
  @apply border border-gray-300 px-2 py-1 cursor-pointer;
}

.bg-darkActive div {
  color: #ffffff;
}

.bg-darkActive .bg-tagGreen {
  background-color: #ffffff;
  color: #1f2937;
}

.sidebar {
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(100%);
}

button {
  border: 1px solid #f3f4f6;
}

.react-timerange-picker__wrapper {
  border: 0px !important;
  gap: 8px !important;
}

.react-time-picker__inputGroup__divider {
  display: none !important;
}

.react-timerange-picker__inputGroup input,
.react-timerange-picker__inputGroup select {
  outline: none !important;
  border: 0px !important;
}

.react-timerange-picker__inputGroup select {
  margin-left: 0px !important;
}
